* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

/* body{
    border: 3px solid red;
} */


/* header start */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
}

.nav-title {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 34px;
    align-items: center;

}

nav li {
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}


.shopping {
    padding-top: 6px;
   
}

.search {
    padding-top: 6px;
}

.banner {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0 120px;
}

.banner-title {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;

}

.banner-description {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;

}


.main-camera {
    width:475px;
    height: 475px;
    border-radius: 50%;
    border: 3px solid #F1E4FF;
    
}

.main-camera img {
    width: 100%;
    height: 100%;
}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}

button .fa-solid {
    margin-left: 8px;
}

/* header end */

/* company logo */


.company-logo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.logo {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 60px;
    /* border: 2px solid red; */
    max-width: 80%;
    padding-left: 60px;
    padding-right: 40px;
}

.logo div {
    width: 100%;
    height: 100%;
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo div img {
    width: 80%;
    height: 80%;
    /* border: 2px solid green; */
    
   

}


/* main part */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}



.popular-collection {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-title {
    color: #3A3A3A;
    font-weight: 600;
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.collection {
    padding: 17px 15px 17px 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}


/* .collect-img {
    width: 50%;
    height: 100%;

} */

.collect-img img {
    width: 100%;
    height: 100%;
}



.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.img-title {
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}

.price {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

.filled {
    font-size: 12px;
    color: #FB8200;
}

.rating span {
    font-weight: 700;
    color: #5E6366;
    font-family: Roboto;

}


.purchase {
    color: #787885;
    font-size: 14px;
    font-family: Inter;
    font-weight: 700;
    line-height: 143%;
}

.collection-footer {
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
}



.collection-footer .fa-arrow-right {
    margin-top: 50px;
}

.feature-product {
    display: flex;
    gap: 96px;
    align-items: center;
    justify-content: center;

}

/* .feature-product-img {
    width: 100%;
    height: 100%;

} */

.feature-product-img img {

    width: 100%;
    height: 100%;

}


.feature-product .section-title {
    text-align: left;
    margin-bottom: 0;
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
}

.feature-product .section-description {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    margin: 16px 0;
}

.feature-product .btn-primary {
    border-radius: 0;
    padding: 10px 24px;
}

.footer-section{
    width: 100%;
}

.footer{
    margin-top: 100px;
    background: #0A0826;
    color: #fff;
    text-align: center;
}

.footer-section{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.footer-description {
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    margin: 3px 0;
   
}

.social-media{
    display: flex;
    gap: 16px;
}

.social-media i{
    margin-top: 17px;
}




@media screen and (max-width : 576px) {


    .hide{
        display: none;
    }


    .banner{
        flex-direction: column-reverse;
        margin: 0 30px;
    }
    
    .main-camera {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 3px solid #F1E4FF;
        
    }

    .banner-title {
        color: #3A3A3A;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    
    }
    
    .banner-description {
        color: #3A3A3A;
        font-size: 16px;
        font-weight: 600;
        margin-top: 16px;
        margin-bottom: 16px;
        text-align: center;
    
    }

    .btn{
        text-align: center;
    }

    .btn-primary {
        border-radius: 20px;
        background: #E02C6D;
        padding: 10px 30px;
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        border: 0;
    }

    .company-logo {
       
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-top: 30px;
      
    }

    
    .logo {
        border: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 20px;
        padding: 0;
    }
    
    .logo div {
        width: 100%;
        height: 100%;
        
        
    }
    
    .logo img {
        width: 70%;
        height: 70%;
    
    }

    
.popular-collection {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.section-title {
    color: #3A3A3A;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}



.collect-img {
    width: 100%;

}

.collect-img img {
    width: 100%;
    height:100%;
}



.collections {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 20px;
    padding-right: 20px;

}

.img-title {
    font-size: 30px;
    font-weight: 700;
}


.collection-footer .fa-arrow-right {
    margin-top: 20px;
    padding-right: 20px;
}


.feature-product {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;

}

.feature-product-img {
    width: 100%;
    height: 100%;

}

.feature-product-img img {

    width: 100%;
    height: 100%;

}


.feature-product .section-title {
    text-align: left;
    margin-bottom: 0;
    color: #0A0826;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.feature-product .section-description {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0;
    text-align: center;
}


main{
    gap: 30px;
}


.footer{
    margin-top: 30px;
}


.footer-title {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.footer-description {
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    margin: 3px 0;
   
}

.social-media{
    display: flex;
    gap: 16px;
}

.social-media i{
    margin-top: 17px;
}

.footer-section{
    height: 40vh;
    
}


    
}